.mattresses-container {
    .productTypes-container {
        background-color: $primary-color;
        height: 91px;
        color: white;
    }

    .productType-title {
        font: normal normal normal 22px/27px Troye Free Serif;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 0px 3px 6px #00000029;
    }
}