.president-container {
    .president-image-container {
        box-shadow: 0px 3px 20px #14325c29;
        background-color: white;
        border-radius: 40px;
        border: 1px solid $secondary-color;
        opacity: 0;
        &:hover{
            transform: scale(1);
        }
        animation: myAnim 1s ease 1s 1 normal forwards;
        
    }
    @keyframes myAnim {
        0% {
            opacity: 1;
            transform: translateX(-100px);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .president-title {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
        font: normal normal normal 22px/33px Troye Free Serif;
        letter-spacing: 0px;
        color: #FFFFFF;
    }

    .president-msg-description-container {
        background: transparent linear-gradient(180deg, #112857 0%, #0a1934 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 20px #14325c29;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 20px 20px 0px;
        margin-left: -40px;
        z-index: -1;
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        opacity: 0;
        animation: myAnim 1s ease 2s 1 normal forwards;
    }
    @keyframes myAnim {
        0% {
            opacity: .5;
            transform: translateX(-1000px);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .vice{
        border-radius: 20px 0px 0px 20px;
        margin-left: 0px;
        margin-right: -40px;
    }
   
    .president-msg-description{
        width: 90%;
    }
    .msg{
        color: white !important;
    }

    @media (max-width: 768px) {
        .president-msg-description-container{
            border-radius: 0 0 20px 20px;
            padding-left: 1rem;
            margin-left: 0;
            margin-top: -40px;
            opacity: 0;
            animation: myAnim 1s ease 2s 1 normal forwards;   
        }
        @keyframes myAnim {
            0% {
                opacity: 0;
                transform: translateY(-1000px);
            }
        
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        .president-title{
            padding-top: 48px;
        }
        .vice{
            margin-left: 0px;
            margin-right: 0px;
        }
       
    }
}