@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@font-face {
    font-family: "Troye Free Serif";   /*Can be any text*/
    src: local("TroyeFreeSerif"),
      url("../../fonts/Troye\ Serif\ Free.woff") format("woff");
  }

//   font-family: 'Montserrat', sans-serif;

h1{
font: normal normal normal 2rem 'Troye Free Serif';
color: $primary-color;
text-transform: capitalize;
}

p{
  text-align: left;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
  color: $font-gray-color;
}

@media (max-width: 768px) {
  h1{
     font-size: 2.2rem;
     text-align: center;
  }
  }

