@mixin paragraph($color) {
  text-align: left;
  font: normal normal medium 1.2rem/1.6rem Montserrat;
  letter-spacing: 0px;
  color: $color;
}

@mixin text-style( $fontSize:20px, $color, $font-family:  Montserrat, $text-transform: capitalize, $text-decoration:none,$textAlign: left,$font-weight: medium,){
  text-align: $textAlign;
  font: normal normal $font-weight $fontSize $font-family;
  color: $color;
  text-transform: $text-transform;
  text-decoration: $text-decoration;
}
