//font variables
$primaryFontFamily: 'Montserrat', sans-serif;
$headFontFamily: 'Troye Free Serif', sans-serif;

//colors variables
$white-color: #ffff;
$primary-color: #F26522;
$primary-dark-color: #e15a1b;
$secondary-color: #14325C;
$secondary-light-dark-color: #2E4765;
$secondary-dark-color:#112857;
$secondary-light-color: #8998AD;
$font-black-color:  #0A0D1D;
$font-dark-color: #14325C;
$font-gray-color: #707070;
$navSocialColor: #8897AC;
