.component-container{
    margin-top: 6.25rem;
}
.section-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.3rem;
}
.home{
    margin-left: 3rem;
    margin-right: 3rem;
}